.modal 
{
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content 
{
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 300px;
   
}

.close 
{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,.close:focus
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close1 
{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,.close1:focus
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.star , .redcolor
{
    color:red;
}