.day 
{
    width: 100px;
    top: -121px;
    height: 100px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    position: absolute;
}
  
.month 
{
    width: 100px;
    top: -121px;
    left:100px;
    height: 100px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    position: absolute;
}
 
.year 
{
    width: 173px;
    top: -121px;
    left:200px;
    height: 100px;
    border-radius: 13%;
    font-size: 50px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    position: absolute;
}

.margin
{
    margin :0 auto;
    width :760px;
}

.hr
{
    text-align: center;
    font-size: 17px;
    height: 27px;
    width: 27px;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    border-radius: 50%;
    position:absolute;

}

.bg
{
    position:absolute;
    top:150px;
}

.title
{
      
       font-size: 13px;
     
       background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
       position :relative;
  
}

.stoptitle
{
    
    font-size: 13px;

      background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
      position :relative;


}

.date
{  
    background-color:#FFFAF0;
	min-width: 760px; 
	border: 1px solid black;  
    min-height: 51px;
	margin:2.75px;
	text-align:left;
	border-radius: 5px;
}  
 
    