.calendar
{
	left: 48px;
	top: 0px;
	margin: 0 auto;
	position:relative;
	width: 960px;
} 

.monthname
{ 	margin: 0 auto;
	text-align:center;
	font-size:75px;
	position:relative; 
} 

div.date
{ 
	width: 120px; 
	border: 1px solid black;  
	float: left; 
	margin: 1.5px; height: 120px; 
	text-align:right;
	border-radius: 5px;
	background:white;       
} 

div.date:hover 
{
	transform: scale(1.07);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index:1;
	position:relative;
}

div.days
{ 
	width: 120px; 
	border: 1px solid black;  
	float: left; 
	margin: 1.5px; 
	text-align:center;
} 

.blankday
{ 
	background:#eeecec; 
} 
	
.today
{ 
	background:#cfc;   
} 

.color
{
	border-radius: 5px;   
	background:#F8D480;
}

.nextprev
{
	top:50px;
	position: absolute;
}
