.box
{
	top: 196px;
	left: 1000px;
	position:absolute;
}

.men_ex
{
	display:none;
	border-radius:5px;
	float :right;
	position:absolute;
}

.men_ex ul 
{
    margin: 0; 
    padding: 0;
    width:185px;
    list-style-type: none;
    
}

.men_ex ul li a 
{
    text-decoration: none;
    color: #fff; 
    padding: 10.5px 11px;
    background-color: #3E5F74;
    display:block;
    border-bottom:solid 1px #000;
}

.men_ex ul li a:visited 
{
    color: white;
}

.men_ex ul li a:hover, .men_ex ul li .current
 {
    color: #000;
    background-color: #B1C7D6;
}

.show_hide
{
  
   margin: 30px 30px;
}

.button 
{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
  
.button:hover 
{
    background-color: #3e8e41
}
  
.button:active 
{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}