.box_date
{
    top:-100px;
    width: 200px; 
	border: 1px solid black;  
	position:absolute;
	margin: 1.5px; height: 120px; 
	text-align:right;
	border-radius: 5px;
    background:white; 
    min-height:700px;
    background-color:#FFFAF0;     
}

.title_day
{
    text-align:left;
    padding: 10px;
    margin:3px;
    font-size: 14px;
    line-height: 0px;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    position :relative;
}
